


.clickedd{
  height: 50px;
  width: 10%;
  
}  

*{
  margin: auto;
  text-align: center;
}

section{
  display: flex;
}

div img{
  width: 75%;
  height: auto;
}


div{
    background: red;
    border: solid black 1px;
    margin: 0 40% 0 40%;
}

div p{
    color: white;
    text-align: center;
}

div:hover{
    cursor: pointer;
}

